page-home {

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

}

.btn-danger{
  ion-icon{
    color:map_get($colors,danger) !important;
  }
}

.btn-success{
  ion-icon{
    color:map_get($colors,darken-green) !important;
  }
}

.btn-primary{
  ion-icon{
    color:map_get($colors,primary) !important;
  }
}
