<ion-header>
  <ion-navbar color="darken-green">
    <ion-title>
      <ion-icon name="school"></ion-icon>
       &nbsp; IFSC - Tarefas
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="darken-green">
    <ion-searchbar [(ngModel)]="tarefaPesquisada" (ionChange)="pesquisarTarefa()"  placeholder="Buscar uma tarefa"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-list-header no-lines>
      Minhas tarefas:
    </ion-list-header>

    <ion-item *ngFor="let t of tarefas" tappable (click)="visualizarTarefa(t)">
      <ion-icon [color]="t.concluida ? 'darken-green' : 'danger'" item-start [name]="t.concluida ? 'checkmark-circle' : 'remove-circle'"></ion-icon>
      {{ t.titulo }}
      <p>{{ t.materia }}</p>
      <ion-icon name="ios-arrow-forward" item-end color="darken-green"></ion-icon>
    </ion-item>

    <ion-item text-center *ngIf="tarefas.length == 0">
      Nenhuma tarefa encontrada
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button color="darken-green" (click)="irParaCriarTarefa()" ion-fab icon-only>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
